<body>

  <div class="container-fluid w-75 bg-primary rounded shadow">
    <div class="row align-items-stretch">


      <div class="col bg-white p-5 rounded-end">
        <div class="text-end">
          <h2 align="center"><strong>
              <!--<img src='https://cdn-icons-png.flaticon.com/512/476/476844.png' class='imgRedonda'> -->
              Inscribirse</strong></h2>
          <br>
          <form action="https://formbold.com/s/FORM_ID" method="POST">

            <div class="formbold-mb-3">
              <label for="address2" class="formbold-form-label">
                <h5>
                  <strong>Nombre o username:</strong>
                </h5>
              </label>
              <input type="text" name="address2" id="address2" class="formbold-form-input" placeholder="Ingresa tu nombre"/>
            </div>

            <div class="formbold-input-flex">
              <div>
                <label for="email" class="formbold-form-label">
                  <h5>
                    <strong>Correo:</strong>
                  </h5>
                </label>
                <input type="email" name="email" id="email" class="formbold-form-input" placeholder="Ingresa un correo"/>
              </div>
              <div>
                <label for="phone" class="formbold-form-label">
                  <h5>
                    <strong>
                      Contraseña:
                    </strong>
                  </h5>
                </label>
                <input type="text" name="phone" id="phone" class="formbold-form-input" placeholder="Ingresa tu contraseña"/>
              </div>
            </div>

            <div class="formbold-mb-3">
              <label for="address2" class="formbold-form-label">
                <h5>
                  <strong>Matricula:</strong>
                </h5>
              </label>
              <input type="text" name="address2" id="address2" class="formbold-form-input" placeholder="Ingresa tu matricula"/>
            </div>

            <div class="formbold-input-flex">
              <div>
                <label for="email" class="formbold-form-label">
                  <h5>
                    <strong>Teléfono:</strong>
                  </h5>
                </label>
                <input type="text" name="email" id="email" class="formbold-form-input" placeholder="Número de teléfono"/>
              </div>
              <div>
                <label for="phone" class="formbold-form-label">
                  <h5>
                    <strong>
                      Grupo o cargo:
                    </strong>
                  </h5>
                </label>
                <input type="text" name="phone" id="phone" class="formbold-form-input" placeholder="Ingresa tu grupo"/>
              </div>
            </div>


            <div align="center"><br>
              <button routerLink="/login"><strong>Registrarse</strong></button>
            </div>
          </form>
        </div>

      </div>


      <div class="col bg-login d-none d-lg-block col-md-10 col-lg-5 col-xl-6">
      </div>

    </div>

  </div>

</body>