<!-- food section -->

<body>

    <section class="food_section layout_padding-bottom">
        <div class="container">

            <div class="heading_container heading_center">
                <br>
                <h1><strong>
                        ¿Qué vas a ordenar hoy?
                    </strong>
                    <h5><br>Selecciona que deseas comprar, recuerda que nuestro menú cambia todos lo días.
                        <br><strong>¡Buen provecho!</strong>
                    </h5>
                </h1>
            </div>

            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="assets/images/f1.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Almuerzos
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus
                                        sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            Ver el menú
                                        </h6>
                                        <a routerLink="/menu/alimentos">
                                            <mat-icon class="fa-icon">dinner_dining
                                            </mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="assets/images/f2.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Bebidas
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus
                                        sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            Comprar ahora
                                        </h6>
                                        <a routerLink="/menu/bebidas">
                                            <mat-icon class="fa-icon">coffee
                                            </mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="assets/images/f3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Postres
                                    </h5>
                                    <p>
                                        Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam
                                        voluptatem repellendus
                                        sed eaque
                                    </p>
                                    <div class="options">
                                        <h6>
                                            Ver el menú
                                        </h6>
                                        <a routerLink="/menu/postres">
                                            <mat-icon class="fa-icon">icecream</mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- end food section -->