<section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil" style="background-image: url('assets/images/cafeteria.jpg');">
            <div class="sombra"></div>
            <div class="avatar-perfil">
                <img src="assets/images/user.jpeg" alt="img">
                <a href="#" class="cambiar-foto">
                    <input type="file">
                </a>
            </div>
            <div class="datos-perfil">
                <h4 class="titulo-usuario">Luis Ángel Villalobos</h4>
                <p class="bio-usuario">Usuario de la cafetería universitaria de la UTVCO.</p>
                <ul class="lista-perfil">
                    <li><strong>Grupo:</strong> DGS-901</li>
                    <li><strong>Teléfono:</strong> 9512574125</li>
                    <li><strong>Email:</strong> epale123@gmail.com</li>
                </ul>
            </div>
            <div class="opcciones-perfil">
                <button routerLink="/menu/home"><strong>Volver</strong></button>
            </div>
        </div>
        <div class="menu-perfil">
            <ul>
                <li><a href="/menu/favoritos"><mat-icon class="fa-icon">favorites</mat-icon>&nbsp; Favoritos</a></li>
                <li><a href="menu/home"><mat-icon class="fa-icon">menu</mat-icon>&nbsp; Menú</a></li>
                <li><a href="menu/compras"><mat-icon class="fa-icon">shopping_cart</mat-icon>&nbsp; Compras</a></li>
            </ul>
        </div>
    </div>
</section>