<!-- Column -->
<div class="card"> <img class="card-img-top"
    src="https://img.freepik.com/vector-premium/paisaje-urbano-verano-larga-noche-horizontal-panorama-ciudad-ilustracion-plana_318844-225.jpg?w=2000"
    alt="Card image cap">
<div class="card-body little-profile text-center">
    <div class="pro-img"><img src='/assets/images/client1.jpg' alt="user"></div>
    <h1 class="m-b-2"><strong>Nombre </strong>
        <mat-icon mat-list-icon class="18" style="cursor: pointer"> edit </mat-icon>
    </h1>
    <h3>Email</h3><br>
    <a class="btn btn-primary" routerLink="/menu/home">Regresar</a>
    <div class="row text-center m-t-20">
        <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light"><strong>Perfil</strong></h3>
            <h2>Perfil</h2>
        </div>
        <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light"><strong>Teléfono</strong></h3>
            <h2>Número</h2>
        </div>
        <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light"><strong>Uid</strong></h3>
            <h2>UID</h2>
        </div>
    </div>
</div>
</div>