<section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil" style="background-image: url('assets/images/cafeteria.jpg');">
            <div class="sombra"></div>
            <div class="avatar-perfil">
                <img src="assets/images/client1.jpg" alt="img">
                <a href="#" class="cambiar-foto">
                    <i class="fas fa-camera"></i> 
                    <span>Cambiar foto</span>
                </a>
            </div>
            <div class="datos-perfil">
                <h4 class="titulo-usuario">Lionel Andres Messi</h4>
                <p class="bio-usuario">Usuario de la cafetería universitaria de la UTVCO.</p>
                <ul class="lista-perfil">
                    <li><strong>Grupo:</strong> DGS-901</li>
                    <li><strong>Teléfono:</strong> 9512574125</li>
                    <li><strong>Email:</strong> epale123@gmail.com</li>
                </ul>
            </div>
            <div class="opcciones-perfil">
                <button routerLink="/menu/home"><mat-icon>logout</mat-icon></button>
            </div>
        </div>
        <div class="menu-perfil">
            <ul>
                <li><a href="#" title=""><i class="icono-perfil fas fa-bullhorn"></i>Favoritos</a></li>
                <li><a href="menu/home" title=""><i class="icono-perfil fas fa-info-circle"></i>Menú</a></li>
                <li><a href="#" title=""><i class="icono-perfil fas fa-grin"></i>Compras</a></li>
            </ul>
        </div>
    </div>
</section>